html, body, section, article, h1, h2, h3, p, div {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

.group::after {
  content: "";
  display: block;
  clear:both;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.tabs {
  border: 3px solid royalblue;
  width: 300px;
  height: 400px;
  background-color: #99e6ff;
  font-size: 20px;
}

.clock {
  display: flex;
  font-size: 100px;
  padding: 40px 30px 25px 30px;
  background-color: #ffb651;
  width: 680px;
  flex-direction: column;
  border: 3px solid royalblue;
  border-radius: 100px;
}

.time {
  display: flex;
  align-items: baseline;
  float: left;
  justify-content: center;
}

.time h3 {
  background-color: white;
  border: 3px solid royalblue;
  border-radius: 30px;
  width: 400px;
  padding: 10px 0 0 8px;

}

.date {
  font-size: 60px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

h1 {
  font-weight: 700;
}

h3 {
  font-size: 80px;
  position: sticky;
  bottom: 0;
  margin-left: 30px;
}
